# Projeto Insights - House Rocket Plataforma de Compra e Venda de Imóveis

## Ciclo 2

### 1. Problema do negócio

A empresa se trata de uma plataforma de compra e venda de imóveis e precisa buscar oportunidades de compras e de venda por preços maiores que aqueles preços de aquisição. Portanto, o CEO da empresa gostaria de maximizar o lucro encontrando bons negócios e para tal gostaria de ter visibilidade das oportunidades. 

Atualmente ele utiliza fontes externas com internet e boca-a-boca para a sua investigação. Por isso, agora o CEO espera utilizar do time de cientísta de dados para que a base de dados seja avaliada a fim de que as boas oportunidades sejam identificadas de uma forma técnica.

As perguntas do CEO para a análise exploratória no ciclo 2 são:<br>
1) Quantas casas estão disponíveis para compra? (Respondidas no ciclo 1)<br>
2) Quantos atributos os imóveis possuem? (Respondidas no ciclo 1)<br>
3) Quais são os atributos?(Respondidas no ciclo 1)<br>
4) Qual a casa mais cara do portifólio?(Respondidas no ciclo 1)<br>
5) Qual a casa com o maior número de quartos?(Respondidas no ciclo 1)<br>

6) Qual a soma total de quartos do conjunto de dados?<br>
7) Quantas casas possuem 2 banheiros?<br>
8) Qual o preço médio de todas as casas do conjunto de dados?<br>
9) Qual o preço médio de casas com 2 banheiros?<br>
10) Qual o preço mínimo entre as casas com 3 quartos?<br>

11) Quantas casas possuem mais de 300 metros quadrados de sala de estar?<br>
12) Quantas casas têm mais de 2 andares?<br>
13) Quantas casas têm vista para o mar?<br>
14) Das casas com  vista para o mar, quantas têm 3 quartos?<br>
15) Das casas com mais de 300 metros quadrados de sala de estar, quantas têm mais de 2 banheiros?

### 2. Planejamento da solução

##### 2.1. Planejamento do produto final
- O que eu vou entregar (output - texto, e-mail, modelo de machine learning)<br>
Nesse caso será entregue um texto com as respostas.<br>
- Como será a entrega? (planilha, power bi, quais os tipos de gráficos...)<br>
Texto estilo de perguntas e respostas.

##### 2.2. Planejamento do processo (Como vai responder as perguntas)
- Onde estão as informações? Excel, BD, API, UpLoad?<br>
As informações estão no Kagle: https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

- Como as informações serão coletadas? SQL, Python, Streamlit...
Para que o datasset seja lido utilizaremos extração com Python, utilizando a biblioteca Pandas para a estruturação do DataFrame.

##### 2.3. Planejamento das ferramentas que irá utilizar
Utilizaremos para o projeto Python 3.8.8, além do Jupyter Notebook disponível no navegador no Anaconda.

In [1]:
#Imports
import pandas as pd
import numpy as np

In [2]:
#baixando o Dataset
data = pd.read_csv('Datasets/Kc_house_data.csv')

In [3]:
#testando o dataset
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
#Setando casas decimais no Dataset 
#Função para supressão de notação científica dos números
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
#Avaliando os tipos de variáveis para correções
print(data.dtypes)
#corrigindo a variável Date por ser string e por ter que ser date
data['date'] = pd.to_datetime(data['date'])

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

### Respondendo as questões do CEO

In [6]:
#6) Qual a soma total de quartos do conjunto de dados?<br>
quartos = np.sum(data['bedrooms'])
print('a soma total é {}'.format(quartos))

a soma total é 72854

In [16]:
#7) Quantas casas possuem 2 banheiros?<br>
casa_2_banheiros = len(data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']])
print('{} casas possuem 2 banheiros'.format(casa_2_banheiros))

1930 casas possuem 2 banheiros

In [18]:
#8) Qual o preço médio de todas as casas do conjunto de dados?<br>
preco_medio = np.round(data['price'].mean(),2)
print('O preço médio de todas as casas é de R$ {}'.format(preco_medio))

O preço médio de todas as casas é de R$ 540088.14

In [19]:
#9) Qual o preço médio de casas com 2 banheiros?<br>
preco_medio_2banheiros = np.round(data['price'][data['bathrooms'] == 2].mean(),2)
print('O preço médio  de casas com 2 banheiros é de R$ {}'.format(preco_medio_2banheiros))

O preço médio  de casas com 2 banheiros é de R$ 457889.72

In [20]:
#10) Qual o preço mínimo entre as casas com 3 quartos?<br>
preco_min_3qtos = np.round(data.loc[data['bedrooms'] == 3, 'price'].min(),2)
print('O preço mínimo de casas com 3 quartos é de R$ {}'.format(preco_min_3qtos))

O preço mínimo de casas com 3 quartos é de R$ 82000.0

In [28]:
#11) Quantas casas possuem mais de 300 metros quadrados de sala de estar?<br>
#data['sala-de-estar-m2'] = data['sqft_living'] * 0.092903 - criando nova coluna no dataset com a conversão de pés2 para m2
casas_m2 = len(data.loc[data['sala-de-estar-m2'] > 300, 'id'])
print('{} casas possuem mais de 300 m2 de sala-de-estar'.format(casas_m2))

2258 casas possuem mais de 300 m2 de sala-de-estar

In [31]:
#12) Quantas casas têm mais de 2 andares?<br>
andares_2 = len(data.loc[data['floors'] > 2, 'id'])
print('{} casas têm mais de 2 andares'.format(andares_2))

782 casas têm mais de 2 andares

In [34]:
#13) Quantas casas têm vista para o mar?<br>
water_front = len(data.loc[data['waterfront'] == 1,'id'])
print('{} casas têm vista para o mar'.format(water_front))

163 casas têm vista para o mar

In [37]:
#14) Das casas com  vista para o mar, quantas têm 3 quartos?<br>
wf_3qts = len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3), 'id'])
print('{} casas com  vista para o mar têm 3 quartos'.format(wf_3qts))

64 casas com  vista para o mar têm 3 quartos

In [39]:
#15) Das casas com mais de 300 metros quadrados de sala de estar, quantas têm mais de 2 banheiros?
m2_banh = len(data.loc[(data['sala-de-estar-m2'] > 300) & (data['bathrooms'] > 2), 'id'])
print('{} casas com mais de 300 m2 de sala-de-estar têm mais de 2 banheiros'.format(m2_banh))

2201 casas com mais de 300 m2 de sala-de-estar têm mais de 2 banheiros