# Projeto Insights - House Rocket Plataforma de Compra e Venda de Imóveis

## Ciclo 2

### 1. Problema do negócio

A empresa se trata de uma plataforma de compra e venda de imóveis e precisa buscar oportunidades de compras e de venda por preços maiores que aqueles preços de aquisição. Portanto, o CEO da empresa gostaria de maximizar o lucro encontrando bons negócios e para tal gostaria de ter visibilidade das oportunidades. 

Atualmente ele utiliza fontes externas com internet e boca-a-boca para a sua investigação. Por isso, agora o CEO espera utilizar do time de cientísta de dados para que a base de dados seja avaliada a fim de que as boas oportunidades sejam identificadas de uma forma técnica.

As perguntas do CEO para a análise exploratória no ciclo 2 são:
(Respondidas no ciclo 1)
1) Quantas casas estão disponíveis para compra? (Respondidas no ciclo 1)<br>
2) Quantos atributos os imóveis possuem? (Respondidas no ciclo 1)<br>
3) Quais são os atributos?(Respondidas no ciclo 1)<br>
4) Qual a casa mais cara do portifólio?(Respondidas no ciclo 1)<br>
5) Qual a casa com o maior número de quartos?(Respondidas no ciclo 1)<br>

6) Qual a soma total de quartos do conjunto de dados?<br>
7) Quantas casas possuem 2 banheiros?<br>
8) Qual o preço médio de todas as casas do conjunto de dados?<br>
9) Qual o preço médio de casas com 2 banheiros?<br>
10) Qual o preço mínimo entre as casas com 3 quartos?<br>

11) Quantas casas possuem mais de 300 metros quadrados de sala de estar?<br>
12) Quantas casas têm mais de 2 andares?<br>
13) Quantas casas têm vista para o mar?<br>
14) Das casas com  vista para o mar, quantas têm 3 quartos?<br>
15) Das casas com mais de 300 metros quadrados de sala de estar, quantas têm mais de 2 banheiros?

### 2. Planejamento da solução

##### 2.1. Planejamento do produto final
- O que eu vou entregar (output - texto, e-mail, modelo de machine learning)<br>
Nesse caso será entregue um texto com as respostas.<br>
- Como será a entrega? (planilha, power bi, quais os tipos de gráficos...)<br>
Texto estilo de perguntas e respostas.

##### 2.2. Planejamento do processo (Como vai responder as perguntas)
- Onde estão as informações? Excel, BD, API, UpLoad?<br>
As informações estão no Kagle: https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

- Como as informações serão coletadas? SQL, Python, Streamlit...
Para que o datasset seja lido utilizaremos extração com Python, utilizando a biblioteca Pandas para a estruturação do DataFrame.

##### 2.3. Planejamento das ferramentas que irá utilizar
Utilizaremos para o projeto Python 3.8.8, além do Jupyter Notebook disponível no navegador no Anaconda.

In [1]:
#Imports
import pandas as pd
import numpy as np

In [2]:
#baixando o Dataset
data = pd.read_csv('Datasets/Kc_house_data.csv')

In [5]:
#testando o dataset
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [33]:
#Setando casas decimais no Dataset 
#Função para supressão de notação científica dos números
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [34]:
#Avaliando os tipos de variáveis para correções
print(data.dtypes)
#corrigindo a variável Date por ser string e por ter que ser date
data['date'] = pd.to_datetime(data['date'])

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

### Respondendo as questões do CEO

In [35]:
#6) Qual a soma total de quartos do conjunto de dados?<br>
data['bedrooms'].sum()

72854

In [36]:
#7) Quantas casas possuem 2 banheiros?<br>
(data['bathrooms'] == 2).sum()

1930

In [37]:
#8) Qual o preço médio de todas as casas do conjunto de dados?<br>
data['price'].mean()

540088.1417665294

In [40]:
#9) Qual o preço médio de casas com 2 banheiros?<br>
data['price'][data['bathrooms'] == 2].mean()

457889.7186528497

In [41]:
#10) Qual o preço mínimo entre as casas com 3 quartos?<br>
data['price'].min()

75000.0

In [ ]:
#11) Quantas casas possuem mais de 300 metros quadrados de sala de estar?<br>
#12) Quantas casas têm mais de 2 andares?<br>
#13) Quantas casas têm vista para o mar?<br>
#14) Das casas com  vista para o mar, quantas têm 3 quartos?<br>
#15) Das casas com mais de 300 metros quadrados de sala de estar, quantas têm mais de 2 banheiros?