# Projeto Insights - House Rocket Plataforma de Compra e Venda de Imóveis

## Ciclo 1

### 1. Problema do negócio

A empresa se trata de uma plataforma de compra e venda de imóveis e precisa buscar oportunidades de compras e de venda por preços maiores que aqueles preços de aquisição. Portanto, o CEO da empresa gostaria de maximizar o lucro encontrando bons negócios e para tal gostaria de ter visibilidade das oportunidades. 

Atualmente ele utiliza fontes externas com internet e boca-a-boca para a sua investigação. Por isso, agora o CEO espera utilizar do time de cientísta de dados para que a base de dados seja avaliada a fim de que as boas oportunidades sejam identificadas de uma forma técnica.

As perguntas do CEO para a análise exploratória são:

1) Quantas casas estão disponíveis para compra?<br>
2) Quantos atributos os imóveis possuem?<br>
3) Quais são os atributos?<br>
4) Qual a casa mais cara do portifólio?<br>
5) Qual a casa com o maior número de quartos?

### 2. Planejamento da solução

##### 2.1. Planejamento do produto final
- O que eu vou entregar (output - texto, e-mail, modelo de machine learning)<br>
Nesse caso será entregue um texto com as respostas.<br>
- Como será a entrega? (planilha, power bi, quais os tipos de gráficos...)<br>
Texto estilo de perguntas e respostas.

##### 2.2. Planejamento do processo (Como vai responder as perguntas)
- Onde estão as informações? Excel, BD, API, UpLoad?<br>
As informações estão no Kagle: https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

- Como as informações serão coletadas? SQL, Python, Streamlit...
Para que o datasset seja lido utilizaremos extração com Python, utilizando a biblioteca Pandas para a estruturação do DataFrame.

##### 2.3. Planejamento das ferramentas que irá utilizar
Utilizaremos para o projeto Python 3.8.8, além do Jupyter Notebook disponível no navegador no Anaconda.

In [1]:
# Imports das bibliotecas utilizadas
import pandas as pd
import numpy as np

In [2]:
#Lendo o dataset extraído do Kagle
data = pd.read_csv('Datasets/kc_house_data.csv')

In [3]:
#Avaliando a estrutura entre linhas e colunas
print(data.shape)

(21613, 21)

In [4]:
#Identificando número de linhas excluíndo ids duplicados
data['id'].nunique()

21436

In [5]:
#Avaliando as colunas/atributos
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
#Avaliando os tipos das colunas/atributos
print(data.dtypes)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [7]:
#Transformando os tipos inadequados dos atributos para tipos válidos
#coluna 'date', que está como string e deve ser do tipo data
data['date'] = pd.to_datetime(data['date'])

In [8]:
#Avaliando se a alteração foi realizada
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [9]:
# Pergunta 1 do CEO: Quantas casas estão disponíveis para compra?
data['id'].nunique()

21436

In [10]:
# Pergunta 2: Quantos atributos os imóveis possuem?
print(data.shape)

(21613, 21)

In [11]:
#3) Quais são os atributos?
data.columns.tolist()

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [21]:
#4) Qual a casa mais cara do portifólio?
data[['id', 'price']].sort_values('price', ascending=False)

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

In [23]:
#5) Qual a casa com o maior número de quartos?
data[['id','bedrooms']].sort_values('bedrooms', ascending=False)

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]